body {
	font-family: Arial, Helvetica, sans-serif;
}
pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;  
	background-color: rgb(0, 0, 0);
	color:white;
	border-radius: 10px;
	padding: 10px;
}
 
td {
	border:solid;
	border-width: 3px;
	padding:10px;
}